/* remove overall margin */
body{
    margin:0;
    font-family:'Times New Roman';
}

/* styling for index.html */
#background{
    height:100vh; 
    background-image:url('images/chihiro043.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
}
#nested-background{
    margin:auto;
    height:70vh;
    width:80vw;
    border:double white 5px;
    display:flex;
}
#loading-container{
    margin:auto;
}
#sg-logo{
    display:block;
    margin:auto;
}
h1{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight:bold;
    margin-bottom:0px;
}
h3{
    text-align: center;
    font-family:'Amatic SC', cursive;
    margin-top:0px;
}
#loading-bar-container{
    border:solid 2px; 
    width:20vw;
    color:white;
    background-image:linear-gradient(to bottom right,#e22323ed,#eb1212);
    font-family:'VT323', monospace;
    text-align:center; 
    animation-name:boarding-message;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
    position:relative;
    margin:auto;
    visibility:visible;
}
@keyframes boarding-message{
    0%{
        opacity:1;
    }
    10%{
        opacity:0.5;
    }
    25%{
        opacity:0;
    }
    35%{
        opacity:0.5;
    }
    50%{
        opacity:1;
    }
    60%{
        opacity:0.5
    }
    75%{
        opacity:0;
    }
    85%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}
#enter{
    height:5vh;
    background-color:white;
    font-family:'Amatic SC', cursive;
    font-size:20px;
    text-align:center;
    margin:auto;
    display:none;
    padding:8px;
    border-radius:5px;
}
#enter-cabin:visited{
    color:black;
}
#enter:hover{
    background-color:#19c589;
    border:#19c589;
}

/* styling for homepage.html */
.overall-background{
    height:90vh;
    background-image:linear-gradient(to bottom right,#9fe7e7,#b19cd9,#e0a3db);
}
.nav-link{
    font-size:20px;
}
#navbarNavDropdown{
    justify-content:space-around;
}

/* styling for select-ticket-page.html */

#layer-1{
    display:block;
}
#layer-2{
    display:none;
}
#layer-3{
    display:none;
}

.form-header{
    padding:30px;
    font-size:18px;
}
#ticket-type{
    font-weight:bold;
}
#confirm-and-payment{
    font-weight:bold;
}
#time-and-date{
    font-weight:bold;
}
.form-container{
    padding:50px;
    display:flex;
    justify-content:space-around;
    text-align:center;
}

.hyperlink:link{
    color:black;
}


