/* remove overall margin */
body{
    margin:0;
    font-family:'Times New Roman';
}

/* universal background */
.overall-background{
    height:90vh;
    /* background-image:linear-gradient(to bottom right,#9fe7e7,#b19cd9,#e0a3db); */
    background-color:#f8f9fa;
    border-top:outset;
}

/* styling for explore.html */
#background{
    height:90vh; 
    background-image:url('images/chihiro043.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
}
#nested-background{
    margin:auto;
    height:70vh;
    width:80vw;
    border:double white 5px;
    display:flex;
}
#loading-container{
    margin:auto;
}
#sg-logo{
    display:block;
    margin:auto;
}
h1{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight:bold;
    margin-bottom:0px;
}
h3{
    text-align: center;
    font-family:'Amatic SC', cursive;
    margin-top:0px;
}
#loading-bar-container{
    border:solid 2px; 
    width:20vw;
    color:white;
    background-image:linear-gradient(to bottom right,#e22323ed,#eb1212);
    font-family:'VT323', monospace;
    text-align:center; 
    animation-name:boarding-message;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
    position:relative;
    margin:auto;
    visibility:visible;
}
@keyframes boarding-message{
    0%{
        opacity:1;
    }
    10%{
        opacity:0.5;
    }
    25%{
        opacity:0;
    }
    35%{
        opacity:0.5;
    }
    50%{
        opacity:1;
    }
    60%{
        opacity:0.5
    }
    75%{
        opacity:0;
    }
    85%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}
#enter{
    height:5vh;
    background-color:white;
    font-family:'Amatic SC', cursive;
    font-size:60%;
    text-align:center;
    margin:auto;
    display:none;
    padding:8px;
    border-radius:5px;
}
#enter-cabin{
    color:black;
}
#enter-cabin:visited{
    color:black;
}
#enter:hover{
    background-color:#19c589;
    border:#19c589;
}


/* styling for index.html */
.nav-link{
    font-size:20px;
}
#navbarNavDropdown{
    justify-content:space-around;
}
.jumbotron{
    margin:0;
    height:90vh;
    background-image:url('images/marnie021.jpg');
    background-size:cover;
    animation-name:auto-slider;
    animation-duration:30s;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
    animation-play-state:running;
}

@keyframes auto-slider{
    0%{
        background-image:url('images/chihiro1.jpg');
    }
    15%{
        background-image:url('images/chihiro007.jpg');
    }
    30%{
        background-image:url('images/ged025.jpg');
    }
    45%{
        background-image:url('images/howl038.jpg');
    }
    60%{
        background-image:url('images/kokurikozaka049.jpg');
    }
    75%{
        background-image:url('images/marnie021.jpg');
    }
    90%{
        background-image:url('images/ponyo038.jpg');
    }
    100%{
        background-image:url('images/chihiro1.jpg');
    }
}

/* styling for select-ticket-page.html */

#layer-1{
    display:block;
}
#layer-2{
    display:none;
}
#layer-3{
    display:none;
}
#layer-4{
    display:none;
}
.ticket-form{
    border:solid;
    padding:15px;
}
#date-form-container{
    display:flex;
    justify-content:space-around;
    text-align:center;
}
.date-form{
    border:solid;
    padding:15px;
    width:10vw;
    height:40vh;
}
h6{
    border-bottom:outset;
    padding-bottom:10px;
}
.form-header{
    padding:30px;
    font-size:18px;
}
#ticket-type{
    font-weight:bold;
    text-decoration:underline;
}
#payment-and-contact{
    font-weight:bold;
    text-decoration:underline;
}
#confirm-and-submit{
    font-weight:bold;
    text-decoration:underline;
}
#time-and-date{
    font-weight:bold;
    text-decoration:underline;
}
.form-container{
    padding:50px;
    display:flex;
    justify-content:space-around;
    text-align:center;
}
.hyperlink:link{
    color:black;
}

.highlighter3{
    height:6vh;
    width:30vw;
    border:outset;
    background-color:#fafd36;
    transform:skew(150deg);
    position:relative;
    top:-3.5vh;
    left:-8vw;
    opacity:0.3;
}
#submit-alert{
    display:none;
}

/* styling for locate us page */
#map-container{
    display:flex;
    justify-content:space-between;
    padding:50px;
}
#map{
    height:70vh;
    width:50vw;
    padding:50px;
}
.transportation-mode{
    display:flex;
}
.individual-collapse-container{
    border:groove 5px;
    padding:10px;
    width:35vw;
    display:flex;
    justify-content:space-between;
}
#collapse{
    display:flex;
    flex-direction:column;
}
#mrt{
    border:groove;
    border-top:hidden;
    width:35vw;
    padding:5px;
    display:none;
}
#bus{
    border:groove;
    border-top:hidden;
    width:35vw;
    padding:5px;
    display:none;
}
#car{
    border:groove;
    border-top:hidden;
    width:35vw;
    padding:5px;
    display:none;
}
#highlighter2{
    height:6vh;
    width:42vw;
    border:outset;
    background-color:#fafd36;
    transform:skew(150deg);
    position:relative;
    top:-3.5vh;
    left:-8vw;
    opacity:0.3;
}

/* styling for pricingpage */
#highlighter{
    height:6vh;
    width:35vw;
    border:outset;
    background-color:#fafd36;
    transform:skew(150deg);
    position:relative;
    top:-3.5vh;
    left:-5vw;
    opacity:0.3;
}
.header-container{
    padding:30px;
}
#pricing-container{
    height:70vh;
    display:flex;
    justify-content:space-around;
}
.pricing-section{
    padding:10px;
    border:solid;
    border-radius:15px;
    width:30vw;
    height:60vh;
    text-align:center;
}
